In [ ]:
Products=["Apple","Mango","Tomato","Orange","Rice","Potato","Onion","Banana"]
print(Products)
Products.append("Oil")
print(Products)
Products.pop()
print(Products)
Products.remove("Tomato")
print(Products)
print(Products[0:3])
print(Products[::-1])
print(len(Products))
print(type(Products))
Products.sort()
print(Products)

['Apple', 'Mango', 'Tomato', 'Orange', 'Rice', 'Potato', 'Onion', 'Banana']
['Apple', 'Mango', 'Tomato', 'Orange', 'Rice', 'Potato', 'Onion', 'Banana', 'Oil']
['Apple', 'Mango', 'Tomato', 'Orange', 'Rice', 'Potato', 'Onion', 'Banana']
['Apple', 'Mango', 'Orange', 'Rice', 'Potato', 'Onion', 'Banana']
['Apple', 'Mango', 'Orange']
['Banana', 'Onion', 'Potato', 'Rice', 'Orange', 'Mango', 'Apple']
7
<class 'list'>
['Apple', 'Banana', 'Mango', 'Onion', 'Orange', 'Potato', 'Rice']

In [ ]:
tuple1=(1,2,3,'python')
print(tuple1)

(1, 2, 3, 'python')

In [ ]:
#Tuple Example
Example=(111,"Shiva",80.33,'kerur',True)
print(Example)

#type checking
print(type(Example))

#Lenght checking
print(len(Example))

#Accessing value throught index
print(Example[1])
print(Example[4])
print(Example[-2])

#slicing
print(Example[0:4])
print(Example[::-1])

(111, 'Shiva', 80.33, 'kerur', True)
<class 'tuple'>
5
Shiva
True
kerur
(111, 'Shiva', 80.33, 'kerur')
(True, 'kerur', 80.33, 'Shiva', 111)

In [ ]:
x=(1,2,3,4)
y=(4,5,6)
z=(0,5,7,9)
print(type(x))
print(x+y+z)

print(x*3)

<class 'tuple'>
(1, 2, 3, 4, 4, 5, 6, 0, 5, 7, 9)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

print(60*4000)

In [ ]:
#Set Example
A={1,2,3,4,5}
B={5,6,7,8,9}
print(A|B)
print(A.union(B))

print(A & B)
print(A-B)
print(B-A)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5}
{1, 2, 3, 4}
{8, 9, 6, 7}

In [ ]:
Ex=  {"ID":111
    "Name":"Shiva",
    "Age":19,
    "Result":True,
    "Place":"Kerer"}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-3872892031.py, line 1)

In [ ]:
Ex=  {"ID":111,"Name":"Shiva","Age":19,"Result":True,"Place":"Kerur"}
print(Ex)
print(type(Ex))
print(len(Ex))

Ex["collage"]="BK Collage"
print(Ex)

Ex["DOB"]="19-09-2007"
print(Ex)

Ex["phone no"]=9591517175
print(Ex)

#Accessing value
print(Ex["Age"])

Ex['Gender']='male'
print(Ex)

print(Ex['Gender'])

del Ex["Age"]
print(Ex)

print(Ex.keys())
print(Ex.values())

{'ID': 111, 'Name': 'Shiva', 'Age': 19, 'Result': True, 'Place': 'Kerur'}
<class 'dict'>
5
{'ID': 111, 'Name': 'Shiva', 'Age': 19, 'Result': True, 'Place': 'Kerur', 'collage': 'BK Collage'}
{'ID': 111, 'Name': 'Shiva', 'Age': 19, 'Result': True, 'Place': 'Kerur', 'collage': 'BK Collage', 'DOB': '19-09-2007'}
{'ID': 111, 'Name': 'Shiva', 'Age': 19, 'Result': True, 'Place': 'Kerur', 'collage': 'BK Collage', 'DOB': '19-09-2007', 'phone no': 9591517175}
19
{'ID': 111, 'Name': 'Shiva', 'Age': 19, 'Result': True, 'Place': 'Kerur', 'collage': 'BK Collage', 'DOB': '19-09-2007', 'phone no': 9591517175, 'Gender': 'male'}
male
{'ID': 111, 'Name': 'Shiva', 'Result': True, 'Place': 'Kerur', 'collage': 'BK Collage', 'DOB': '19-09-2007', 'phone no': 9591517175, 'Gender': 'male'}
dict_keys(['ID', 'Name', 'Result', 'Place', 'collage', 'DOB', 'phone no', 'Gender'])
dict_values([111, 'Shiva', True, 'Kerur', 'BK Collage', '19-09-2007', 9591517175, 'male'])

In [ ]:
strl="python"
print(strl[-4:-1])

tho

In [ ]:
#Implicit
num=10
print(type(num))
value=3.4
print(type(value))
Add=num+value
print(Add,type(Add))
#Explicit
Rev=int(Add)
print(Rev,type(Rev))

<class 'int'>
<class 'float'>
13.4 <class 'float'>
13 <class 'int'>

In [ ]:
demo="10"
print(demo,type(demo))

hi=int(demo)
print(hi,type(hi))

10 <class 'str'>
10 <class 'int'>

In [ ]:
clg=13.33
print(clg,type(clg))

hello=int(clg)
print(hello,type(hello))

13.33 <class 'float'>
13 <class 'int'>

In [ ]:
mobile=21000
print(mobile,type(mobile))

see=bool (mobile)
print(see,type(see))

21000 <class 'int'>
True <class 'bool'>

In [ ]:
battle=1
print(type(battle))

B=bool(battle)
print(B, type(B))

<class 'int'>
True <class 'bool'>

In [ ]:
first=True
second=15
print(first+second)
third=3.12
fourth=False
print(third+fourth)

16
3.12

In [ ]:
b={1,2,3,4}
print(d,type(d))

a=list(b)
print(a,type(a))

(1, 2, 3, 4) <class 'tuple'>
[1, 2, 3, 4] <class 'list'>

In [ ]:
demo="shiva"
print(type(demo))

sbh=list(demo)
print(sbh,type(sbh))

<class 'str'>
['s', 'h', 'i', 'v', 'a'] <class 'list'>

In [ ]:
Ex=['s','h','i','v','a']
print(type(Ex))

s=str(Ex)
print(type(s))

<class 'list'>
<class 'str'>

In [ ]:
one="Teachers day"
print(one, type(one))

two=set(one)
print(two, type(two))

Teachers day <class 'str'>
{'y', 'a', 'T', ' ', 'd', 'h', 's', 'c', 'e', 'r'} <class 'set'>

In [ ]:
shopping=[("a",1),("b",2),("c",3)]
print(type(shopping))

mall=dict(shopping)
print(mall, type(mall))

<class 'list'>
{'a': 1, 'b': 2, 'c': 3} <class 'dict'>

In [ ]:
details=(("ID",111),("name","shiva"),("age",18),("result",True))
print(type(details))

address=dict(details)
print(type(address))

<class 'tuple'>
<class 'dict'>

In [ ]:
information={("ID",111),("name","shiva"),("Gender","Male"),("section","B"),("mobile no","9591517175"),("place","Kerur")}
print(type(information))

info=dict(information)
print(type(info))

<class 'set'>
<class 'dict'>

In [ ]:
print(36*48)

1728

In [ ]:
a='''syntax:
          Variable_Name=Input("Enter a value")
'''
print(a)

syntax:
          Variable_Name=Input("Enter a value")

In [ ]:
print(10%5                                                                                                                                                                                                                                                                             )

0

In [ ]:
#Arithmatic Oparators
x=int(input("enter x value is:"))
y=int(input("enter y value is:"))
print("Addition of ",x,"and ",y,"value is:",x+y)
print("Substaction of ",x,"and ",y,"value is:",x-y)
print("Multiplication of ",x,"and ",y,"value is:",x*y)
print("Divison of ",x,"and ",y,"value is:",x/y)
print("Modulus of ",x,"and ",y,"value is:",x%y)
print("Exponentitial of ",x,"and ",y,"value is:",x**y)
print("Floor Divison of ",x,"and ",y,"value is:",x//y)

enter x value is:10
enter y value is:20
Addition of  10 and  20 value is: 30
Substaction of  10 and  20 value is: -10
Multiplication of  10 and  20 value is: 200
Divison of  10 and  20 value is: 0.5
Modulus of  10 and  20 value is: 10
Exponentitial of  10 and  20 value is: 100000000000000000000
Floor Divison of  10 and  20 value is: 0

In [ ]:
a=int(input("enter a value is:"))
b=int(input("enter B value is:"))
print(x**y)

enter a value is:10
enter B value is:20
100000000000000000000

In [ ]:
A=10
B=20
print("before swapping")
print("A=",A,"B=",B)

print("after swapping")
temp=A
A=B
B=temp
print("A=",A,"B=",B)

before swapping
A= 10 B= 20
after swapping
A= 20 B= 10

In [ ]:
A=10
B=20
print("before swapping")
print("A=",A,"B=",B)

print("after swapping")
print("A=",B,"B=",A)

before swapping
A= 10 B= 20
after swapping
A= 20 B= 10

In [ ]:
a=10
b=20
print("before swapping")
print("a=",a,"b=",b)

a=a+b
b=a-b
a=a-b
print("after swapping")
print("a=",a,"b=",b)

before swapping
a= 10 b= 20
after swapping
a= 20 b= 10

In [ ]:
#comparison operator
x=True
y=False
print(x<y)
print(x>y)
print(x==y)
print(x!=y)
print(x>=y)
print(x<=y)

False
True
False
True
True
False

In [ ]:
#logical oparator
A=10
B=20
C=30
print(C<=A and A==10)
print(25>=C and A!=B)
print(B<=C and 10==A)
print()
print(B!=20 or B==A)
print(C<35 or 8<=A)
print(not(A==10) or B<C)
print()
print(not(50<=75))
print(not(B>30)and(A<=20))

print(not(A!=10))

False
False
True

False
True
True

False
True
True

In [ ]:
#Assegment oparator
x=5
x+=3
print (x,type(x))

x*3 #x=x*3
print(x*3)

a=40
a//4  #a=a//4
print(a)

8 <class 'int'>
24
40

In [ ]:
num=1
while num<=10 :
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num=2
while num<=100:
  print(num)
  num=num+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
num=2
while num<=100:
  print(num,end=" ")
  num=num+2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
num=1634
add=0
temp=num #num and temp value are equal 143

while num !=0:
  rem=num % 10
  add=add + rem * rem * rem * rem
  num=num//10
if temp==add:
  print("Armstong number")
else:
  print("not Armstong number")

Armstong number

In [ ]:
num=9
while num<=90 :
    print(num)
    num=num+9

9
18
27
36
45
54
63
72
81
90

In [ ]:
#sum of natural number
i=1
add=0
while i<=10:
  add=add+i
  i=i+1
print("Sum of n natural number is ", add)

Sum of n natural number is  55

In [ ]:
num=5
while num<=2000:
  print(num)
  num=num*2

5
10
20
40
80
160
320
640
1280

In [ ]:
#factorial Number
num=6
i=1
fact=1
while i<=num :
  fact=fact*i
  i+=1
print("total factorial value is:",fact)

total factorial value is: 720

In [ ]:
num=12345
reverse=0

while num>0:
    rem=num%10
reverse =reverse *10 + rem
num=num//10
print("reverse",reverse)

In [ ]:
# prime number
num=int(input("enter the number :"))
i=1
count=0
while i<=num :
    if num%i==0:
        count=count+1
    i=i+1
if count == 2:
    print("prime number")
else:
    print("Not prime number")

In [ ]:
num=12321
if num=num+0
print(num)

In [ ]:
num=int(input("enter the number :"))
temp=num
pol=0
while num !=0:
    rem = num % 10
    pol = num * 10 + rem
    num = num // 10
if temp ==pol:
    print("Polindrome number")
else:
    print("Non Polindrome number")

enter the number :123321
Non Polindrome number

In [ ]:
for i in "mobile":
    print(i)

m
o
b
i
l
e

In [ ]:
names=["AB","BC","CD","AF"]
for i in names:
    print(i)

AB
BC
CD
AF

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10]
total = 0
for i in num:
  total = total + i
print(total)

55

In [ ]:
input="python"
output=""
for i in input:
  output = output + i
print(output)

In [ ]:
for i in range(50):
    print(i,end=" ")

In [ ]:
#sum of n natural numbers:
total= 0
for i in range(1,10+1):
    total = total + i
print("sum of total value is :",total)

In [ ]:
input= "KLE BCA"
output=" "
for i in input:
    output=i+output
print(output)

ACB ELK

In [ ]:
for i in range(2,101,2):
    print(i,end=" ")

In [ ]:
for i in range(1,101,2):
    print(i,end=" ")

In [ ]:
n=7
for i in range(1 ,11):
    print(n," * ",i," = ", n*i)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

In [ ]:
a=0
b=1
print(a," ",b)
for i in range(2,12):
    c=a+b
    print(c,end=" ")
    a,b=b,c

0   1
1 2 3 5 8 13 21 34 55 89

In [ ]:
I_p="kle bca"
print(I_p)

kle bca

In [ ]:
num=[10,30,50,35,26,55,9,42]
for i in num:
  largest_num=max(num)
print("largest num",largest_num\)

largest num 55

In [ ]:
for i in range(2):
  print("Outer: " + str(i))
for j in range(2):
  print("inner: " + str(j))

Outer: 0
Outer: 1
inner: 0
inner: 1

In [ ]:
nums=[10,30,50,35,26,55,9,45]
lar=nums[0]
for i in nums:
  if i > lar:
    lar=i
print("largest number is:", lar )

largest number is: 55

In [ ]:
for i in range(10,0,-1):
  print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
num=6
i=1
fact=1
for i in range(1,6) :
  fact=fact*i
  i+=1
print("total factorial value is:",fact)

total factorial value is: 120

In [ ]:
#squer of program
for i in range(1,11):
  print(i,"*",i,"=",i*i)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

In [ ]:
name="Basavaprabhu kore college in chikodi"
count =0
for i in name:
  if i in "aeiou":
    count += 1
print(" total counts :", count)

 total counts : 14

In [ ]:
a,b=0,1
for i in range(11):
  print(a,end=" ")
  a,b=b,a+b

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
for i in range(1,10):
  if i==5:
    break
  print(i,end="  ")

1  2  3  4

In [ ]:
colors = ["red","green","yellow","pink","black","orenge","blue",]
for i in colors:
  if i=="black":
    break
  print(i,end=" ")

red green yellow pink

In [ ]:
vehicles = ("bullet","spelnder","mat","hf delex","passion pro","xl super")
for veh in vehicles:
  if veh == "sp":
    break
  print(veh,end=" ")

bullet spelnder mat hf delex passion pro xl super

In [ ]:
mobiles = ("i phone","samsung","real me","oppo","vivo","techno","lava","infinix","poco","iqoo","moto")
for mob in mobiles:
  if mob == "vivo":
    continue
  print(mob,end="  ")

i phone  samsung  real me  oppo  techno  lava  infinix  poco  iqoo  moto

In [ ]:
movies = ("devil","max","animal","kgf","saiyara","katera","bahubali","lokka","dragon")
for mov in movies:
  if mov == "lokka":
    continue
  print(mov,end=" ")

devil max animal kgf saiyara katera bahubali dragon

In [ ]:
for i in range(5):
  if i==2:
     pass
  print(i,end=" ")

0 1 2 3 4

In [ ]:
for i in "computer":
  print(i)

c
o
m
p
u
t
e
r

In [ ]:
movies = ("devil","max","animal","kgf","saiyara","katera","bahubali","lokka","dragon")
for mov in movies:
  if mov == "lokka":
    pass
  print(mov,end=" ")

devil max animal kgf saiyara katera bahubali lokka dragon

In [ ]:
for i in range(2):
  print("Outer: " + str(i))
for j in range(2):
  print("inner: " + str(j))

Outer: 0
Outer: 1
inner: 0
inner: 1

In [ ]:
year = 2000
if( ((year % 4 == 0) and (year % 100 != 0)) or (year % 400==0) ):
    print("Leap Year")

Leap Year

In [ ]:
for i in range(10):
  for j in range(10):
    print("*",end="   " )
  print()

*   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *

In [ ]:
for i in range(11):
  for j in range(i):
    print("*",end="   " )
  print()

*
*   *
*   *   *
*   *   *   *
*   *   *   *   *
*   *   *   *   *   *
*   *   *   *   *   *   *
*   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *

In [ ]:
row=8
cols=7
for i in range (0, rows):
  for j in rang(0,cols):
    if i==0 or j==0 or i==row-1 or j==cols-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
*           *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

In [ ]:
num = int(input("Enter the Number: "))

for i in range(0, num):
    for j in range(0, num-i-1):
        print(" ",end=" ")
    for j in range(0, i*2+1):
        print("*", end=" ")
    print()

for i in range(1, num):
    for j in range(0, i):
        print(" ",end=" ")
    for j in range(0, (num-i)*2-1):
        print("*", end=" ")
    print()

Enter the Number: 10
                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
      * * * * * * * * * * * * *
        * * * * * * * * * * *
          * * * * * * * * *
            * * * * * * *
              * * * * *
                * * *
                  *

In [ ]:
rows = int(input("Enter rows:"))
cols = int(input("Enter Cols:"))

for i in range(0, rows):
    for j in range(1, i+1):
        print(" ", end=" ")
    for j in range(0, cols):
        print("*", end="  ")
    print()

Enter rows:10
Enter Cols:10
*  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *  *
        *  *  *  *  *  *  *  *  *  *
          *  *  *  *  *  *  *  *  *  *
            *  *  *  *  *  *  *  *  *  *
              *  *  *  *  *  *  *  *  *  *
                *  *  *  *  *  *  *  *  *  *
                  *  *  *  *  *  *  *  *  *  *

In [ ]:
row = 10

for i in range(row):
    for j in range(row - i):
        # prints left space in the same row
        print(' ', end='')

    for j in range(2 * i + 1):

        # printing the left boundary of triangle
        if j == 0 or j == 2 * i or i == row - 1:
            print('*', end='')

        # printing spaces in the middle of the triangle
        else:
            print(' ', end='')

    print()  # printing new line

          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 *******************

In [ ]:
num=10
  for j in range(0,num-i-1):
    print(" ",end=" ")
  for j in range(0, i*2+1):
    print("*",end=" ")
  print()

                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [ ]:
def fun():
  a=10
  b=20
  print("addition of two numbers",a+b)
fun()

addition of two numbers 30

In [ ]:
def fun(a,b):
  print("addition of two numbers :",a+b)
fun(50,20)
fun(100,200)
fun(85,69)

addition of two numbers : 70
addition of two numbers : 300
addition of two numbers : 154

In [ ]:
def pen(name):
  print("my name is ",name)
pen("shiva")
pen("shankar")

my name is  shiva
my name is  shankar

In [ ]:
def fun(num):
  if num % 2 == 0:
    print("even number")
  else:
    print("odd number")
fun(100)

even number

In [ ]:
def num(value):
  print("4 square is :",value * value)
num(4)

4 square is : 16

In [ ]:
def pen(num):
  return num*num
pen(4)

In [ ]:
def add(a,b):
  return a+b
print("addition of two numbers is :", add(5,3))

In [ ]:
def book (name="shiva"):
  print("my name is :",name)
book("shankar")
book()
book()
book("basavraj")

In [ ]:
def add(*numbers):
  Args = 0
  print("argumentsv:",numbers)
  total = sum(numbers)
  print("sum",total)

add(8,9,6)

argumentsv: (8, 9, 6)
sum 23

In [ ]:
def info(**details):
  print("keyword arguments",details)
  for key, value in details.items():
    print (f"{key}: {value}")

In [ ]:
i=10
j=20
print(f'addition of {i},and {j}, value is {i+j}' )

addition of 10,and 20, value is 30

In [ ]:
name="shivashankar"
college_name="govt puc kerur"
year="2024-25"
per=80
address="hiremath"

print(f'{name} {address}, {college_name} in the year of {year} and my percentage is :{per}')

In [ ]:
def fact(n):
  if n==0 or n==1:
   return 1
  else:
    return n*fact(n-1)

print(fact (5))

120

In [ ]:
def fibo(num):
  if num<=1:
    return num
  else:
    return fibo(num-1) + fibo(num-2)
for i in range(11):
  print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
class MyClass:
  x=5
  name="shiva"
  def fun(s):
    print("sbh")

p1=MyClass()
print(p1.x)
print(p1.name)
print(p1.fun())

5
shiva
sbh
None

In [ ]:
class bank:
  def __init__(self,balence):
    self.balence = balence             #1000
  def deposit(self,amount):
    self.balence += amount            #500
  def withdraw(self,amount):
    if amount <=self.balence:              # 300 < 1500
      print(f'withdraw succufully { amount}')
    else:
      print("Insufficient balence")
  def get_balence(self):
    return self.balence

B=bank(1000)
B.deposit(500)
B.withdraw(1700)
B.withdraw(500)
print(f'remaining balence : {B.get_balence()}')

Insufficient balence
withdraw succufully 500
remaining balence : 1500

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
class student:
  def __init__(self, name, age):   # construtor
    self.my_name = name            # instance variable
    self.my_age = age

  def display(self):              # method
    print("name:",self.my_name, "age:", self.my_age)

#creating objects
s1=student("shiva",22)
s2=student("shankar", 25)

#calling methods using objects
s1.display()
s2.display()

name: shiva age: 22
name: shankar age: 25

In [ ]:
class flowers:
  colour="Red"
  shepe="Round"
  F_type="Rose"
  size="Small"

  def smell(self):
    print("Good smell")
  def Attract(self):
    print("colourfull")
  def honey(self):
    print("honey very sweet")

obj=flowers()
print(obj.colour)
obj.smell()
print(f'flower size is {obj.size}')
obj.honey()

Red
Good smell
flower size is Small
honey very sweet

In [ ]:
#encasulation
class student:
   def __init__(self,name,marks):
     self.__name = name
     self.marks = marks
   def set_method(self,marks):
     self.marks=marks
   def get_method(self):
     return self.marks

obj = student("shiva",80)
obj.set_method(45)
print(obj.get_method())

45

In [ ]:
#single inheritance

class parents():
   age = 50
   def work(self):
    print("parents are very good")

class children(parents):
  age=18
  def study(self):
    print("childrens are very bad")

obj = children()
obj.work()
obj.study()
print(obj.age)

parents are very good
childrens are very bad
18

In [ ]:
#multiple inheritance

class father:
  def farmer(self):
    print("My father was doing farmer work")

class mother:
  def house(self):
    print("My mother is a house wife")

class children(father,mother):
  def jolly(self):
    print("I'm studing BCA 1st sem")

obj = children()
obj.jolly()
obj.farmer()
obj.house()

I'm studing BCA 1st sem
My father was doing farmer work
My mother is a house wife

In [ ]:
#multilevel inheritance

class grand_father:
  def irayya(self):
    print("I'm 89 years old")

class father(grand_father):
  def basayya(self):
    print("I'm 50 years old")

class children(father):
  def shiva(self):
    print("I'm 18 years old")

obj = children()
obj.irayya()
obj.basayya()
obj.shiva()

I'm 89 years old
I'm 50 years old
I'm 18 years old

In [ ]:
class degree:
  def study(self):
    print("we are studing degree course")

class BCA(degree):
  def cource(degree):
    print("I'm BCA student")

class BSC(degree):
  def science(self):
    print("I'm BSC student")

bca = BCA()
bca.study()
bca.cource()
print()
bsc = BSC()
bsc.study()
bsc.science()

we are studing degree course
I'm BCA student

we are studing degree course
I'm BSC student

In [ ]:
#hybrid inheritace

class A:
  def hi(self):
    print("good morning")

class B(A):
  def hello(self):
    print("good afternoon")

class C(A):
  def bye(self):
    print("good evening")

class D(B,C):
  def Good(self):
    print("good night")

obj =  D()
obj.hi()
obj.hello()
obj.bye()
obj.Good()

good morning
good afternoon
good evening
good night

In [ ]:
# Run time polymoprhism

class animal:
  def sound(self):
    print("animal makes a sound")

class dog(animal):
  def sound(self):
    print("bow bow")

class cat(animal):
  def sound(self):
    print("meow meow")

class cow(animal):
  def sound(self):
    print("ambooooooo")

obj = animal()
obj.sound()
obj=dog()
obj.sound()
obj=cat()
obj.sound()
obj=cow()
obj.sound()

animal makes a sound
bow bow
meow meow
ambooooooo

In [ ]:
#complile time polymorphism

class match:
  def add(self,a,b=0,c=0):
    return a+b+c

obj = match()
print(obj.add(5))
print(obj.add(9,10))
print(obj.add(4,7,3))

5
19
14

In [ ]:
#oparator

first=int(input( "enter the first num"))
second=int(input("enter the second num"))
print(first+second)

enter the first num10
enter the second num20
30

In [ ]:
import numpy as np
arr = np.array([1,2,3,4,5])
print("NumPy Array :",arr)

NumPy Array : [1 2 3 4 5]

In [ ]:
import numpy as np
zeros=np.zeros(5)
ones=np.ones(5)
print("zeros:",zeros)
print("ones:",ones)

zeros: [0. 0. 0. 0. 0.]
ones: [1. 1. 1. 1. 1.]

In [ ]:
#basic arithmetic on array
import numpy as np
a=np.array([10,20,30])
b=np.array([1,2,3])
print("Addition:",a+b)
print("Multiplication",a*b)

Addition: [11 22 33]
Multiplication [10 40 90]

In [ ]:
#mathematical fun

import numpy as np
arr=np.array([1,4,9,16])
print("square rool", np.sqrt(arr))
print("mean:",np.mean)

square rool [1. 2. 3. 4.]
mean: 7.5

In [ ]:
class dictionary:
  def __init__(self): #correct constructor
  #Stored words in a dictionary(key =word,valu=mening)
    self.words = {}

  def add_word(self, word, meaning):
    #prevent duplicate keys
   if word in self.words:
      print(f"'{word}' already exists in dictionary. Duplicate not allowed!")
   else:
      self.words[word] = meaning
      print(f"'{word}' added successfully!")

  def search_word(self, word):
    #search for a word and display result in table format
    if word in self.words:
      print("\n===== Search Result =====")
      print(f"{'Word':<15}|{'Meaning'}")
      print("-" * 40)
      print(f"{word:<15} | {self.words[word]}")
      print("-" * 40)
    else:
      print(f"'{word}' not found in dictionary.")

  def show_all(self):
    #show all words alphabetically
    if not self.words:
      print("Dictionary is empty.")
    else:
      print("\n===== My Dictionary (alphabetical order)=====")
      print(f"{'Word':<15} | {'Meaning'}")
      print("-" * 40)
      for word in sorted(self.words.keys()):
        print(f"{word:<15} | {self.words[word]}")
      print("-" * 40)


  def update_word(self, word, new_meaning):
    #update word if it exists
    if word in self.words:
      self.words[word] = new_meaning
      print(f"'{word}' updated successfully!")
    else:
      print(f"'{word}' not found. Cannot update.")

def main():
  my_dict = dictionary()

  while True:
    print("\n====== Digital Dictionary ======")
    print("1. Add Word")
    print("2. Search Word")
    print("3. Show All Words")
    print("4. Update Word")
    print("5. Exit")

    choice = input("Enter your choice: ")

    if choice == "1":
      word = input("Enter word: ")
      meaning = input("Enter meaning: ")
      my_dict.add_word(word, meaning)

    elif choice == "2":
      word = input("Enter word to search: ")
      my_dict.search_word(word)

    elif choice == "3":
      my_dict.show_all()

    elif choice == "4":
      word = input("Enter word to update: ")
      new_meaning = input("Enter new meaning: ")
      my_dict.update_word(word, new_meaning)

    elif choice == "5":
      print("Exiting Digital Dictionary... Goodbye!")
      break

    else:
      print("Invalid choice. Please try again.")

#Run the program
if __name__ == "__main__":
 main()

====== Digital Dictionary ======
1. Add Word
2. Search Word
3. Show All Words
4. Update Word
5. Exit
Enter your choice: 1111111
Invalid choice. Please try again.

====== Digital Dictionary ======
1. Add Word
2. Search Word
3. Show All Words
4. Update Word
5. Exit
Enter your choice: 1
Enter word: sab
Enter meaning: weep
'sab' added successfully!

====== Digital Dictionary ======
1. Add Word
2. Search Word
3. Show All Words
4. Update Word
5. Exit
Enter your choice: frigid
Invalid choice. Please try again.

====== Digital Dictionary ======
1. Add Word
2. Search Word
3. Show All Words
4. Update Word
5. Exit
Enter your choice: 1
Enter word: frigid
Enter meaning: cool
'frigid' added successfully!

====== Digital Dictionary ======
1. Add Word
2. Search Word
3. Show All Words
4. Update Word
5. Exit
Enter your choice: murky
Invalid choice. Please try again.

====== Digital Dictionary ======
1. Add Word
2. Search Word
3. Show All Words
4. Update Word
5. Exit
Enter your choice: 1
Enter word: murky
Enter meaning: dark
Enter your choice: 3
'murky' added successfully!

====== Digital Dictionary ======
1. Add Word
2. Search Word
3. Show All Words
4. Update Word
5. Exit

===== My Dictionary (alphabetical order)=====
Word            | Meaning
----------------------------------------
frigid          | cool
murky           | dark
sab             | weep
----------------------------------------

====== Digital Dictionary ======
1. Add Word
2. Search Word
3. Show All Words
4. Update Word
5. Exit
Enter your choice: 5
Exiting Digital Dictionary... Goodbye!